* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 1400px;
  margin: auto;
}

#root {
  width: 100%;
  height: 100%;
  margin: auto;
}

.editor {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 76% 24%;
  grid-template-rows: auto;
}

.right-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 1fr;
}

.grid {
  display: grid;
  grid-template-rows: repeat(60, 1fr);
  grid-template-columns: repeat(60, 1fr);
  width: 95vh;
  height: 95vh;
  place-self: center;
  outline: 1px solid rgba(0, 0, 0, 0.26);
}

.sketch-picker-container {
  align-self: center;
  justify-self: center;
  grid-row: 1;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  justify-content: center;
  align-items: center;
}

.generic-btn {
  font-size: 1em;
  min-width: 220px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px, rgb(0 0 0 / 15%) 0px 8px 16px;
  border-style: none;
  margin: 1rem;
  padding: 10px;
}

.cell {
  cursor: pointer;
  outline: 1px solid rgba(0, 0, 0, 0.11);
  background-color: white;
  /* transition: all 0ms linear;
  transition-delay: 0ms; */
}

.cell-index-display {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  position: fixed;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 70%);
  color: white;
  font-size: 0.8em;
  transition: all 60ms ease-in;
}

/* .cell:hover { */
/* -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); */
/* transform: scale3d(1.2, 1.2, 2); */
/* border: 2pt solid rgba(0, 0, 0, 0.3); */
/* } */
